@import "compass/css3";
@import "variables";

#navigation ul.menu li { margin: 0; }
#navigation ul li.leaf { list-style: none outside none; }

ul.primary { height: 2.13334em; line-height: 2em; margin: 1em 0; }
ul.primary li a { padding: 0.5em 1em; }

.node-unpublished { padding: 10px; }

form .container-inline input { width: auto; }

legend a:link, legend a:visited, .no-touch legend a:hover, legend a:active { color: $base-text; }
.fieldset-wrapper { background: $smoke; padding: 1em; }
html.js.no-touch fieldset.collapsible legend:hover { background: $light-gray; cursor: pointer; }
html.js fieldset.collapsible legend { border-bottom: none; }
html.js fieldset.collapsible .fieldset-wrapper { border-top: 1px solid $light-gray; }
html.js fieldset.collapsible .fieldset-legend { padding-left: 20px; }

.share-links ul { list-style: none outside; max-width: 450px; margin-left: -5px; margin-right: -5px; }
.share-links ul:after { content: ''; display: table; clear: both; }
.share-links ul li { float: left; width: 33.33%; padding-left: 5px; padding-right: 5px; }
.share-links ul li a { display: block; text-align: center; color: #fff; background: $base-text; padding: 0.5em; font-weight: bold; }
.no-touch .share-links ul li a:hover { color: #fff; }
.share-links ul li.btn-facebook a { background: $facebook-blue; }
.share-links ul li.btn-twitter a { background: $twitter-aqua; }

@media screen and (max-width: 359px) {
    form .container-inline div,
    form .container-inline label { display: block; }
    form .container-inline input { width: 100%; }
}